@import "../../styles/styles.scss";

.search-box {
  height: 80%;
  width: 98%;
  display: flex;
  align-items: center;

  .search-icon {
    color: $prim-grey;
    font-size: 1.5rem;
    position: absolute;
  }
  .searchBar {
    border: none;
    outline: none;
    height: 80%;
    width: 100%;
    background-color: $bg-grey;
    border-bottom: 1px solid $prim-grey;
    font-family: $font-main;
    font-weight: 300;
    font-size: 1.8rem;
    padding-left: 40px;
    color: $prim-grey;
  }
}
